<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
    <header id="header">
        <h1>Automobiles For Masses</h1>
        <a asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
        <a href="">History</a>
        <a href="">About Us</a>
        <a href="">FAQ</a>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <form action="#header">
            <button class="testbutton">Top</button>
        </form>
    </footer>
    <script src="~/js/card_flip.js" asp-append-version="true"></script>
    <script src="~/js/progress_bar.js" asp-append-version="true"></script>
</body>
</html>
